
/**
 *  Base class of the component
 *  You can change this to anything but make sure
 *  to change it in the JS class as well!
 *
 *  @type {String} CSS Class
 */
$base_class: '.exterminator';

/**
 *  Gutter
 *
 *  @type {Measurement} The gutter base size
 */
$gutter: 20px;
$gutter-medium: $gutter*1.5;
$gutter-large: $gutter*2;

/**
 *  Font Size
 *  Keep this px and not relative since the contexts that the
 *  script could be in may vary along with their ems/rems/...
 *
 *  @type {px}
 */
$font_size: 18px;

/**
 *  Color variables
 *  Modify these to theme the tracker
 *
 *  @type {hex}
 */
$color-black: #000;
$color-red: #e84a64;
$color-error: $color-red;
$color-success: #4BB543;
$color-warning: #FFCC00;
$color-blue-grey: #384D66;
$color-text: darken($color-blue-grey, 3%);
$color-border: #eee;
$color-background: #fff;
$color-sending: $color-warning;
