/**
 *	Hendles the screenshot state
 */
#{$base_class + '--screenshot'} {
	overflow: hidden;
	height: auto;
}

/**
 *  Reset for our classes
 */
#{$base_class},
[class^="#{$base_class}__"],
[class*=" #{$base_class}__"]{
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	display: block;
	-webkit-font-smoothing: antialiased !important;
	transition: all .2s linear 0s;
	font-family: "system";
	box-sizing: border-box;
}

/**
 *  The Exterminator Styles
 *  See variables to adjust certain items
 */
#{$base_class}{

  // Elements
  &__{

		&wrapper{
			position: relative;
			z-index: 10000;
		}

    &toggler {
    	position: fixed;
			box-sizing: border-box;
    	bottom: 0px;
    	right: 0;
    	width: 44px;
    	height: 44px;
    	border-radius: 4px;
    	border: 1px solid $color-text;
    	background: $color-text;
    	/* image replacement */
    	overflow: hidden;
    	text-indent: 100%;
    	white-space: nowrap;
    	z-index: 2;
			font-weight: 400;

    	span {
    		/* the span element is used to create the menu icon */
				position: absolute;
    		display: block;
    		width: 20px;
    		height: 2px;
    		background: #fff;
    		top: 50%;
    		left: 50%;
				transform: translate(-50%,-50%);
    		transition: background 0.3s;

    		&::before, &::after {
    			content: '';
    			position: absolute;
    			left: 0;
    			background: inherit;
    			width: 100%;
    			height: 100%;
    			/* Force Hardware Acceleration in WebKit */
    			transform: translateZ(0);
    			backface-visibility: hidden;
    			transition: transform 0.3s, background 0s;
    		}

    		&::before {
    			top: -6px;
    			transform: rotate(0);
    		}

    		&::after {
    			bottom: -6px;
    			transform: rotate(0);
    		}
    	}

      #{$base_class + '--open'} &,
			#{$base_class + '--error'} &{
        box-shadow: none;

        span {
          background: rgba($color-red, 0);

      		&::before, &::after {
      			background: #fff;
      		}

      		&::before {
      			top: 0;
      			transform: rotate(135deg);
      		}

      		&::after {
      			bottom: 0;
      			transform: rotate(225deg);
      		}
        }
      }

			#{$base_class + '--sending'} & {
      	box-shadow: inherit;
				background-color: $color-sending;
				border-color: $color-sending;
				cursor: wait;
				animation-name: spin;
		    animation-duration: 2s;
				animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
		    animation-iteration-count: infinite;

        span {
	    		background: transparent;
					width: 2px;
					transition: all 0.3s;

					&::before, &::after {
	    			background: transparent;
						left: -1em;
						line-height: 0em;
						width: 2em;
						font-size: 1.7em;
						color: #fff;
						text-align: center;
	    			transition: none;
				    -webkit-font-smoothing: antialiased;
	    		}

					&::before {
						content: '\293a';
						top: calc(-2px - 0.3em);
	    			transform: rotate(0);
	    		}

	    		&::after {
						content: '\293b';
						bottom: calc(2px - 0.3em);
	    			transform: rotate(0);
	    		}
        }
      }

			#{$base_class + '--sent'} & {
      	box-shadow: inherit;
				background-color: $color-success;
				border-color: $color-success;
				animation-name: tada;
		    animation-duration: 1s;

        span {
					background-color: transparent;

					&::before, &::after {
						left: auto;
						background-color: #fff;
	    		}

					&::before {
						top: 0;
						transform: rotate(-45deg);
						right: -3px;
	    		}

	    		&::after {
						top: 3px;
						transform: rotate(45deg);
						left: -2px;
						width: 50%;
	    		}
        }
      }

			#{$base_class + '--error'} & {
      	box-shadow: inherit;
				background-color: $color-error;
				border-color: $color-error;
				animation-name: shake;
		    animation-duration: 0.75s;
      }
    }

    &form{
      color: $color-text;
    	position: fixed;
    	width: 100%;
    	max-width: 400px;
    	right: 0px;
    	bottom: 0px;
    	border-radius: 4px;
    	padding: 20px;
    	background: #fff;
    	visibility: hidden;
    	overflow: hidden;
    	z-index: 1;
    	/* Force Hardware Acceleration in WebKit */
    	-webkit-backface-visibility: hidden;
    	backface-visibility: hidden;
    	transform: scale(0);
    	transform-origin: 100% 100%;
    	transition: transform 0.3s, visibility 0s 0.3s;
    	border: 1px solid $color-text;
    	box-shadow: 0 64px 64px 0 rgba(135,152,163,0.1), 0 32px 32px 0 rgba(135,152,163,0.1), 0 16px 16px 0 rgba(135,152,163,0.1), 0 8px 8px 0 rgba(135,152,163,0.1), 0 4px 4px 0 rgba(135,152,163,0.1), 0 2px 2px 0 rgba(135,152,163,0.1);

    	#{$base_class + '--open'} & {
    		visibility: visible;
    		transform: scale(1);
    		transition: transform 0.3s, visibility 0s 0s;
    	}

			#{$base_class + '--sending'} & {
    		visibility: hidden;
    		transform: scale(0);
    		transition: transform 0.3s, visibility 0s 0.3s;
    	}
    }

    &title{
      color: $color-text;
    	font-size: 24px;
    	font-weight: 600;
    	margin-bottom: 20px;
    	display: block;
    }

    &label {
  		color: $color-text;
  		margin-bottom: 5px;
  	}

    &field {
  		margin-bottom: 24px
  	}

    &input {
      border: 1px solid $color-border;
    	padding: 10px 15px;
    	color: $color-text;
    	width: 100%;
    	font-size: 15px;

			&:valid{
				border-color: $color-success;
			}
		}

    &textarea {
      height: 100px;
    }

    &submit {
    	text-transform: uppercase;
    	display: block;
    	max-width: calc(100% - 100px);
			width: 100%;
    	border-radius: 4px;
    	border: 1px solid $color-text;
    	background: $color-text;
    	padding: 10px;
    	font-weight: 600;
    	letter-spacing: 0.3px;
    	color: #fff;
    	cursor: pointer;

    	&:hover {
    		background: darken($color-text, 3%);
    	}
    }

		&screenshot-ghost{
			position: absolute;
			z-index: 100000000;
			background: rgba(255,0,0,0.1);
			top: 0;
			left: 0;
			border: 10px solid $color-error;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			opacity: 0.5;
		}

		@media (min-width: 600px) {
		  &toggler,
			&form{
		    bottom: 20px;
				right: 5%;
		  }

			&form{
				width: 90%;
			}
		}
  }

  // Modifiers
  &--{
  }

  // Non chained classes
  &{
  }
}
