/**
 *  The Exterminator Styles
 *  See variables to adjust certain items
 */

#{$base_class}{

  // Elements
  &__{

    &wrapper{
      position: fixed;
      bottom: 0;
      right: $gutter;
      padding: $gutter;

      #{$base_class + '--screenshot'} & {
        display: none;
      }

      #{$base_class + '--open'} & {
        background: #ccc;
      }

      &--success{
        background: $color-success;
      }
    }

    &input{
      border: 1px solid #eee;
      font-size: $font_size;
      height: 100px;
    }

    &form{
      display: none;

      #{$base_class + '--open'} & {
        display: block;
      }
    }
  }

  // Modifiers
  &--{

    &open{
      background-color: transparent;
      // overflow: hidden;

      .bug{
        background-color: transparent;
      }
    }
  }

  // Non chained classes
  &{

  }
}
