// TODO: styles
.exterminator{

  // Elements
  &__{

    &wrapper{
      position: fixed;
      bottom: 0;
      right: $gutter;
      padding: $gutter;
      background: #f00;
    }
  }

  // Modifiers
  &--{

  }

  // Non chained classes
  &{

  }
}
